<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }
  .toolbar div{
    margin-left: 10px;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div>Rabobank</div>
</div>

<input type="file" #csvFileReader name="Upload CSV" id="fileUpload" (change)="uploadListener($event)" accept=".csv" class="csvFileUpload"/>    
<div class="csv-data">
  <ag-grid-angular
      style="width: 100%; height: 300px;"
      class="ag-theme-alpine"
      [defaultColDef]="columnFilterConf"
      [rowData]="csvRowData"
      [columnDefs]="csvColumnDefs"
  >
</ag-grid-angular>
</div>
<router-outlet></router-outlet>